{% load static %}
{% block content %}
<html>
    <head>
        <title>Yogasite</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Yogasite</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <br><br>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
{% endblock %}